body {
    background-color : white;
    color : white;
    text-align : center;
    font-family: 'Signika', sans-serif;
}

#tchat {
    background-color : white;
    opacity : 0.8;
    width : 100%;
    height : 300px;
    margin : auto;
    border : 3px rgb(40,40,40) solid;
    overflow : auto;
}
.line {
    border-bottom : 1px rgb(80,80,80) solid;
    padding : 4px;
    text-align:left;
    color : rgb(40,40,40);
}

.ui-page-theme-a #list-genre .ui-btn {
    background-color:#20d6C7;
      font-size: 35px;
  padding: 15px;
}

/*_____________THEME GENERAL
_______________________________________*/
.ui-page-theme-a header.ui-bar-inherit
 {
    background-color:#f3EDD3;
    border:none;
}
html .ui-page-theme-a main .ui-btn {
  padding: 20px;
  border-radius: 3px;
  margin: 25px 0;
    text-shadow: none;
      border: none;
      font-family: 'Signika', sans-serif;
}

html .ui-page-theme-a  .ui-btn#connect {
      background-color: #1c6b97;
  color: white;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  text-transform: uppercase;
  font-size: 20px;
}

.ui-header-fixed.ui-fixed-hidden .ui-btn-left, .ui-header-fixed.ui-fixed-hidden .ui-btn-right {
margin-top:16px;}
.ui-page-theme-a .ui-btn.ui-btn-proposition {
  background-color: #20D6C7;
  /*font-family: 'Signika', sans-serif;*/
  color: white;
}

header.ui-header-fixed > a.ui-btn  {
    margin-top:17px;
    background-color:#1c6b97 !important;
    border:none;
}

header.ui-header-fixed > a.ui-btn:hover,
header.ui-header-fixed > a.ui-btn:active {
    background-color:#D54F58;
}

header.ui-header-fixed > a.ui-btn::after  {
    background-color:transparent;
}

header.ui-header .ui-title {
    margin: 0 10%;
}
header.ui-header .ui-title img {
    max-width:240px;
}

main.ui-content {
    width:80%;
    margin:0 auto;
}
.playImage {
    width:50%;
    max-width:200px;
}

.progressBarContainer {
    width:100%;
    height:10px;
    background:#113F59;
}

.progressBarProgression {
    height:10px;
    background:#d54F58;
}

#propositions {
perspective:4000px;
}
a.ui-btn.ui-btn-proposition:focus {
    box-shadow:none;
}

.ui-page {
background-color:#fffcef;}
a.ui-btn.ui-btn-proposition.winning-btn {
  transform: translateZ(200px);
  transition: all cubic-bezier(0.67, 0.1, 0.35, 0.89) 0.3s 0.6s;
  transform-origin: top;
  transform-style: flat;
  text-shadow:none;
  outline: none
}


a.ui-btn.ui-btn-proposition.losing-btn {
  transform: translateZ(-250px);
  transition: all cubic-bezier(0.67, 0.1, 0.35, 0.89) 0.3s 0.3s;
  transform-origin: top;
  transform-style: flat;
  background-color:#d54F58;
  text-shadow:none;
  opacity:0.4;
  outline: none
}

a.ui-btn.ui-btn-proposition.losing-btn.picked-loser-btn {
      transition: all cubic-bezier(0.67, 0.1, 0.35, 0.89) 0.3s 0s;
      opacity:0.7;
}